* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #eff4f7;
    color: #777;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
}
header {
    background-color: olive;
    color: aqua;
    text-align: center;
    height: 100px;
    
}
header > h1 {
    background-color: white;
    color: olive;
    line-height: 200%;
    padding-top: 16px;
    text-align: left;
}
/* nav {
    text-align: right;
    height: 100px;
    padding: 5px;

} */
.nav { display: inline-block;
    padding: 24px;
}


p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}


.container{
    background: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    background: rgba(255,255,255,0) ;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    align-items: right;
    background-position: right;

}

a{
    list-style: none;
    display: inline block;
    padding:13px 35px;
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
    color: olive;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
    
}
a::after{
    content: '';
    background: green;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;

}   
a:hover{
    color: #fff;
}
 a:hover::after{
    top: 50%;
    opacity: 1;
 }
 
 #parallax{

    background-image: url("img_parallax.jpg");
    min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }



    



